

.title-slide {
  background-image: url(background.jpg);
  background-size: cover;
}

.title-slide h1,h2 {
  text-align: center;
  color: black;
}
.title-slide h3,h4 {
  text-align: center;
  color: black;
}

.me-slide h3,h4 {
  text-align: center;
  color: white;
}


@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);

body { font-family: Lucida, sans-serif 
}
h1, h2, h3,h4 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;

}
.remark-code, .remark-inline-code { font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace;


}