.taipan_image_div {
  position:relative;
  display: block;
 text-align: center;
}
img {

 width: 61%;
    height: auto;
    object-fit: contain;

}

out_img_overlay {
position:absolute;
top:0;
left:0;
z-index: 1;
}

.nav > li > a {
  font-size:19px;
}
